<div [@routerTransition]>

  <breadcrumb [links]="route"></breadcrumb>

  <div class="row">
    <div class="col col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <label class="h6 mt-1">Exam Terms</label>
          <button-new-card [routeLink]="routeLink$" [text]="text$"></button-new-card>&nbsp;
        </div>
        <div class="card-body table-responsive">
          <nz-table #basicTable
                    [nzData]="termList"
                    [nzShowPagination]="_pagination"
                    [nzBordered]="true"
                    [nzFrontPagination]="false"
                    [nzLoading]="_loading"
                    [nzNoResult]="_noData"
                    [nzTotal]="_totalItem"
                    [nzPageIndex]="_currentPage"
                    (nzPageIndexChange)="onPageChange($event)">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Weightage</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let term of basicTable.data; index as i">
              <td>{{i+1}}</td>
              <td>{{term.name}}</td>
              <td>{{term.weightage}}</td>
              <td>{{term.status}}</td>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>
