<div [@routerTransition]>

  <breadcrumb [links]="route"></breadcrumb>

  <div class="row">
    <div class="col col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <label>Transport Routes</label>
          <button-new-card [routeLink]="routeLink$" [text]="text$"></button-new-card>&nbsp;
        </div>

        <div class="card-body table-responsive">
          <nz-table #basicTable
                    [nzData]="transportRouteList"
                    [nzShowPagination]="_pagination"
                    [nzBordered]="true"
                    [nzFrontPagination]="false"
                    [nzLoading]="_loading"
                    [nzNoResult]="_noData"
                    [nzTotal]="_totalItem"
                    [nzPageIndex]="_currentPage"
                    (nzPageIndexChange)="onPageChange($event)">
            <thead>
            <tr>
              <th nzWidth="75px">#</th>
              <th>Transport</th>
              <th>Route Plan</th>
              <th>Pickup/Drop Time</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transportRoute of basicTable.data; index as i">
              <td>{{i+1}}</td>
              <td>{{transportRoute.number_plate}}</td>
              <td>{{transportRoute.route_path}}</td>
              <td>{{transportRoute.pickup_time}} / {{transportRoute.drop_time}}</td>
              <td>
                <a nz-tooltip routerLink="/client/transport/route/{{transportRoute.id}}/detail"
                   class="mr-1" nzPlacement="bottom"
                   nzTitle="View '{{transportRoute.number_plate}}' detail">
                  <i nz-icon type="eye" theme="twotone" class="mr-1"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>
