:host {
  .navbar {
    border-bottom: 1px #ccc solid;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
  }
}

.sr-input-lg {
  min-width: 200px;
  width: 50em;
}

.sr-input {
  line-height: 35px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  color: #666;
  padding: 0 17px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

.sr-btn-submit {
  position: relative;
  right: 0;
  min-width: 50px;
  line-height: 35px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  //background: #4272d7;
  margin-left: -3px;
  background: #3b7ff3;
}

.sr-btn-submit > i {
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.search {
  display: inline-block;
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search:before {
  content: '\f1c3';
}

.nav-right-margin {
  margin-right: 1.0rem;
}


